NODE_ENV=development
PORT=5000

DB_HOST=postgres
DB_PORT=5432
DB_USER=uevent
DB_PASSWORD=uevent_secret
DB_NAME=uevent_db

JWT_ACCESS_SECRET=uevent_access_secret_key_for_local_dev_only
JWT_REFRESH_SECRET=uevent_refresh_secret_key_for_local_dev_only
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your-smtp-email-here
MAIL_PASS=ynzm nxbt mawh jotj
MAIL_FROM="Uevent <your-smtp-email-here>"

FRONTEND_URL=http://localhost:3000

UPLOADS_DIR=uploads
MAX_FILE_SIZE_MB=5

STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder
STRIPE_PUBLISHABLE_KEY=pk_test_placeholder

GOOGLE_CLIENT_ID=your-client-id-here
GOOGLE_CLIENT_SECRET=your-client-secret-here
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

REACT_APP_API_URL=http://localhost:5000
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder
REACT_APP_GOOGLE_CLIENT_ID=your-client-id-here
